.header .documentarea{
    text-align: center;
    width: 700px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    top:10px;
    width: 100%;
}
.header .documentarea h1{
    text-align: center;
    width: 100%;
    height:fit-content;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header .documentarea .AboutUs {
    text-align: justify;
    width: 650px;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border:10px solid #001163;
    border-radius: 0px;  
    padding:20px;
    margin-top: 20px;
    box-shadow: .6em .5em .5em rgb(163, 163, 163);
}
.header .documentarea .AboutUs p{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header .documentarea .AboutUs form{
    display: block;
    padding: 50px;
    align-items: center;
}

.header .documentarea .AboutUs form p{
    display: block;
    font-size: 20px;
}
.header .documentarea .AboutUs .contactform{
    border-radius:2px;
    padding-left: 10px;
    width: 500px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    height: 50px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

.header .documentarea .AboutUs .contactformmessage {
    border-radius:0px;
    width: 480px;
    padding: 20px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    text-align: left;
    height: 300px;
    font-weight: 700;
    resize: none;
}

@media(max-width: 700px){
    .header .documentarea{
        font-size: 32px;
        display:block;
        overflow-y: hidden;
        z-index: 1;
        top:-50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header .documentarea .AboutUs{
        padding: 20px;
        align-items: center;
        width: 80%;
        display: block;
    }
    .header .documentarea .AboutUs h1{
        font-size: 12vw;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .header .documentarea .AboutUs p{
        font-size: 18px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}