

.gamearea {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
}

.gamearea h1{
    font-family: 'Jost', sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
}

.ws_gamebox {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    border: 3px solid gold;
    border-radius: 50px;
    box-shadow: .6em .6em .6em rgb(129, 129, 129);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    height: 600px;
    overflow: hidden;
    zoom: 0.9;
    top: 10px;
}

.ws_gamebox .word_box{
    display: flex;
    align-items: center;
    font-size: 60px;
    text-align: center;
    letter-spacing: 20px;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    height: 150px;
    overflow: hidden;
    line-height: 50px;
}
.ws_gamebox .ws_word{
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    letter-spacing: 20px;
    word-wrap: break-word;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 0px;
    height: fit-content;
    overflow: hidden;
    line-height: 80px;
}

.ws_gamebox .ws_details{
    position: relative;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: visible;
    scroll-behavior: none;
    display: block;
}

.ws_gamebox .ws_details .ws_timeleft {
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    overflow: hidden;
}

.ws_gamebox .ws_details .ws_timeleft span{
    position: relative;
    font-size: 60px;
    text-align: justify;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ws_gamebox ::placeholder{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    color: #b3b3b3;
}


.ws_gamebox input{
    font-family: 'Jost', sans-serif;
    position: relative;
    font-size: 30px;
    text-align: center;
    vertical-align: baseline;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
}


.ws_gamebox .ws_buttons{
    position: relative;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:60px;
    height: fit-content;
    margin-top: 0px;
}


.ws_gamebox .ws_refresh{
    position: relative;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(25, 75, 150);
    font-family: 'Jost', sans-serif;
    box-shadow: 0em .2em rgb(129, 129, 129);
    transform: translateY(8px);

}
.ws_gamebox .ws_refresh img{
    width: 44px;
}

.ws_gamebox .ws_refresh:hover img{
    filter: invert(100%);
}


button.ws_refresh:hover{
    background-color: #001163;
    color: white;
};

.ws_gamebox .ws_refresh:active{
    box-shadow: 0em .2em rgb(129, 129, 129);
    transform: translateY(4px);

}

.ws_gamebox .ws_check{
    position: relative;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    border:none;
    background-color: rgb(170, 75, 75);
    font-family: 'Jost', sans-serif;
    box-shadow: 0em .2em rgb(129, 129, 129);
}

.ws_gamebox .ws_check:hover{
    background-color: #630000;
    color: white;
}

.ws_checkanimate {
    box-shadow: 0em .2em rgb(129, 129, 129);
    animation: tilt-shaking 0.25s 1;
    background-color: #9b0000;
}

.ws_checkanimateWin {
    box-shadow: 0em .2em rgb(129, 129, 129);
    animation: jump-shaking 0.83s 1;
}

.ws_refreshWobble {
    box-shadow: 0em .2em rgb(129, 129, 129);
    animation: tilt-shaking2 0.25s 1;

}



@media(max-width: 700px){
.ws_gamebox {
    width: 75%;
    height: 600px;
    top:100px;
}



.ws_gamebox {
    width: 75%;
    height: 600px;
    top:0px;
}

.gamearea {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    background-color: transparent;
    padding-bottom: 20px;
    top:-50px;
}


.gamearea h1{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}


.ws_gamebox .word_box{
    display: flex;
    align-items: center;
    font-size: 60px;
    text-align: center;
    letter-spacing: 20px;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    height: 150px;
    overflow: hidden;
    line-height: 60px;
}
.ws_gamebox .ws_word{
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0px;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    height: auto;
    overflow: hidden;
    line-height:60px;
}


.ws_gamebox input{
    font-family: 'Jost', sans-serif;
    position: relative;
    font-size: 24px;
    text-align: center;
    vertical-align: baseline;
    width: 100%;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    left: -10px;
}


.ws_gamebox .ws_buttons{
    position: relative;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:0px;
    height: 500px;
    margin-top: 0px;
}


.ws_gamebox .ws_refresh{
    position: relative;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(25, 75, 150);
    font-family: 'Jost', sans-serif;
    box-shadow: 0em .2em rgb(129, 129, 129);
    transform: translateY(8px);
    height: 150px;
    top: 60px;

}
.ws_gamebox .ws_refresh img{
    width: 40px;
}

.ws_gamebox .ws_check{
    position: relative;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    border:none;
    background-color: rgb(170, 75, 75);
    font-family: 'Jost', sans-serif;
    box-shadow: 0em .2em rgb(129, 129, 129);
    height: 150px;
    top:50px;
}

.ws_gamebox .ws_details{
    position: relative;
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: visible;
    scroll-behavior: none;
    display: block;
}

.ws_gamebox .ws_details .ws_timeleft {
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    overflow: hidden;
    font-size: 20px;
}

.ws_gamebox .ws_details .ws_timeleft span{
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    overflow: hidden;
    font-size: 30px;
}


.blue-header .text-box {
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    padding: 0px 0px;
    top: 80px;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
    display: block;
    text-align: center;

}
.blue-header .text-box h1{
    white-space: nowrap;
    display: block;
    position: relative;
    left: 0px;
    font-size: 8vw;
}


}







@keyframes tilt-shaking {
    
    0% { transform: rotate(0deg);  background-color: #e40000;}
    25% { transform: rotate(5deg); background-color: #e40000;}
    50% { transform: rotate(0deg); background-color: #e40000;}
    75% { transform: rotate(-5deg); background-color: #e40000;}
    100% { transform: rotate(0deg); background-color: #e40000;}
  }


  
@keyframes tilt-shaking2 {
    
    0% { transform: rotate(0deg);  background-color: gold;}
    25% { transform: rotate(5deg); background-color:  gold;}
    50% { transform: rotate(0deg); background-color: gold;}
    75% { transform: rotate(-5deg); background-color:  gold;}
    100% { transform: rotate(0deg); background-color: gold}
  }

  @keyframes jump-shaking {
    0% { transform: translateX(0); }
    25% { transform: translateY(-40px); }
    35% { transform: translateY(-40px) rotate(17deg); background-color: #00b919;}
    55% { transform: translateY(-40px) rotate(-17deg); background-color: #00b919;}
    65% { transform: translateY(-40px) rotate(17deg); background-color: #00b919;}
    75% { transform: translateY(-40px) rotate(-17deg); background-color: #00b919;}
    100% { transform: translateY(0) rotate(0) }
  }
