/* Page Settings*/
/* Font CSS added Here*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    row-gap: 0;
}

::placeholder{
    font-weight: 100;
    color:#525252;
    font-size: 18px;
}

.h-lines {   
    height:2px;
    width: 100%;
    background-color:#707070;
    position: relative;
    border: 0px;
}
/* The header including background photo*/
.header{
    min-height: 110vh;
    width: 100%;
    /*background-image:linear-gradient(rgb(11, 0, 77, .75),rgba(0, 0, 0, 1)), url(images/COA.png), linear-gradient(rgb(11, 0, 77, 1),rgb(11, 0, 77, 1));
    */
    background-position: top;
    position: relative;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:auto;
}

/* The Navigation Menu positioning on page*/
nav{
    display: block;
    padding: 40px;
    justify-content: space-between;
    align-items: center;

}

/* The Navigation Link Position on Page*/
.nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* The Nav Link Text Color & Font*/
.nav-links ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.searchheader4 .nav-links ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.searchheader5 .nav-links ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Jost', sans-serif;
    top: 0px;
    padding-bottom: 40px;
}

.text-box img{
    width:100px;
}

.text-box h1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 56px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 90px;
    background-color:#001163;
    text-align: center;
}

.text-box h1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.text-box .container{
    overflow: visible;
}

.search-bar{
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    max-width: 600px;
    border-radius: 30px;
    padding: 0px 2px;
    backdrop-filter: blur(10px) saturate(180%);
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    filter: drop-shadow(.2em .2em .2em rgb(121, 121, 121));
}

.MuakuWd {
    display: block;
}

.MuakuWD :hover {
    transition-duration: .4s;
    transform: translateY(-4px);
    filter: drop-shadow(.6em .5em .3em rgb(121, 121, 121));
}

.search-bar button{
    background:transparent;
    border: 0;
    border-radius: 50%;
}

.search-bar img{
    width: 30px;
    cursor: pointer;
    padding-right: 10px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 22px;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

nav .fa{
    display: none;
}
nav .fa-solid{
    display: none;
}

.mwd {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    top: 0px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background:white;
    border-radius: 30px;
    padding: 20px;
    filter: drop-shadow(.5em .5em .5em rgb(121, 121, 121));
    border: solid gold;
}

.mwd .mwdtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
}
.mwd .mwdtitletx {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: -5px;
}
.mwd .mwdate {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.mwd .mwdbigword {
    font-family: 'Jost', sans-serif;
    font-size: 67px;
    font-weight: 700;
    color: #090152;
    margin-top: 15px;
    line-height:2cap;
    overflow: hidden;
}
.mwd .mwdPhon {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    color: #000000;
}
.mwd .mwdefinition {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){
    .header {
    background-position: top;
    position: relative;
    }

    .header .text-box {
        width: 100%;
        height: 100%;
        color: #fff;
        position: relative;
        padding: 0px 0px;
        top: 80px;
        font-family: 'Jost', sans-serif;
        overflow: hidden;
        display: block;
        text-align: center;

    }
    .header .text-box h1{
        white-space: nowrap;
        display: block;
        position: relative;
        left: 0px;
        font-size: 8vw;
    }
    .search-bar input{
        font-size: 18px;
        color: black;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    .search-bar{
        height: 50px;
        max-width: 85%;
        padding: 0px 10px;
        background-color: rgb(255, 255, 255, 1);
        border-style:none;
        border-color: #000000;
    }
    .search-bar img{
        width: 40px;
        cursor: pointer;
    }
    nav img{
        width:60px;
    }
    .nav-links{
        position: absolute;
        background: #ebebeb;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
    }
    nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 30px;
    }
    
    nav .fa-solid{
        display: inline;
        cursor: pointer;
        transform: tranlsate(0px, 0px);
        margin: 30px 10px;
    }
    .nav-links ul{
        padding: 30px;
        color: rgb(0, 0, 0);
    } 

    nav .fa-bars{
        color: rgb(0, 0, 0);
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 40px;
    }

    .searchheader nav .fa-bars{
        color: rgb(255, 255, 255);
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 20px;
    }
    
    .searchheader4 nav .fa-bars{
        color: rgb(255, 255, 255);
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding-right: 40px;
        padding-top: 20px;
    }

    .searchheader5 nav .fa-bars{
        color: rgb(255, 255, 255);
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding-right: 40px;
        padding-top: 20px;
    }


    .mwd {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        top: 0px;
        text-align: center;
        width: fit-content;
        max-width: 400px;
        height: fit-content;
        background:white;
        border-radius: 30px;
        padding: 20px;
    }
    .mwd .mwdbigword {
        font-family: 'Jost', sans-serif;
        font-size: 9vw;
        font-weight: 700;
        color: #090152;
        margin-top: 5vh;
        word-wrap:break-word;
        line-height:1.2ch;
        overflow: hidden;    
        height: 8vh;
    }

    .mwd .mwdPhon {
        font-family: Tahoma, sans-serif;
        font-size: 12px;
        font-weight: 400;
        margin-top: 0px;
        color: #000000;
    }

    .mwd .mwdefinition {
        font-family: 'Jost', sans-serif;
        font-size: 4vw;
        font-weight: 700;
        margin-top: 4vh;
    }

    .mwd .mwdtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -1px;
    }

    .mwd .mwdtitletx {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-top: -5px;
    }
}
/*------ABOUT US PAGE-------*/
/* The Nav Link Text Color & Font*/
.sub-header .text-box h1{
    font-size: 62px;
}

.sub-header .nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
}
.sub-header h1{
    margin-top: 36px;
}

/* The Navigation Link Position on Page*/
.sub-header .nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.sub-header .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    position: relative;
    cursor: pointer;
}
.sub-header img{
    width:80px;
    text-align: left;
}
/*------Search Page-------*/
.searchheader .wrapper{
    height: fit-content;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.searchheader{
    height:100%;
    min-height:50vh;
    width: 100%;
    background-color: #001163;
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}

/* The Navigation Menu positioning on page*/
.searchheader nav{
    display: block;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

/* The Navigation Link Position on Page*/
.searchheader .nav-links{
    flex: 1;
    text-align: right;
    position: relative;
    color: white;
}

/* The Navigation Menu Spacing & Orientation*/
.searchheader .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* The Nav Link Text Color & Font*/
.searchheader .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.searchheader .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader .nav-links ul li:hover::after{
    width: 100%;
}
.searchheader4 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader4 .nav-links ul li:hover::after{
    width: 100%;
}

.searchheader5 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader5 .nav-links ul li:hover::after{
    width: 100%;
}
/* The Cage for the search header
*/
.searchheader .cage {
    position: absolute;
    height: 95vh;
    width: 90%;
    top: 70px;
    display: inline;
    left: 5%;
    overflow: hidden;
}

.searchheader .text-box{
    width: 100%;
    color: #fff;
    position: relative;
    padding: 0px;
    text-align: center;
    display: inline;
    top: 0px;
    overflow: hidden;
}
.searchheader .text-box img{
    width:200px;
}

.searchheader .text-box h1{
    font-size: 50px;
    padding: 20px;
    font-family: 'Jost', sans-serif;
}

.searchheader .search-bar{
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    max-width: 700px;
    border-radius: 60px;
    padding: 0px 5px;
    backdrop-filter: blur(10px) saturate(180%);
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    filter: drop-shadow(.2em .2em .1em rgb(15, 0, 56));
}

.searchheader .cage .text-box .container .TTDDT img{
    width: 70px;
    padding: 5px;
    position: relative;
}

.searchheader .search-bar button{
    background:transparent;
    border: 0;
    border-radius: 50%;
}

.searchheader .search-bar img{
    width: 30px;
    cursor: pointer;
}

.searchheader .search-bar input{
    background: transparent;
    padding: 10px 20px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
}

.searchheader nav .fa{
    display: none;
}
.searchheader nav .fa-solid{
    display: none;
}

.searchheader .IndexTable{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 40px;
    position: relative;
}
.searchheader .tablewrapper2{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 100vw;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.searchheader .tablewrapper2 h1{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.searchheader .tablewrapper2 ol{
    list-style-position: inside;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.searchheader .tablewrapper2 ol li a{
    color:black;
}
/* The Cage for the search results
*/
.searchheader .cardcage{
    position: absolute;
    height: 95vh;
    width: 100%;
    min-width: 100%;
    top: 250px;
    height: auto;
    overflow: auto;
}
.searchheader .card{
    width: 100%;
    background-color: rgb(245, 245, 245);
    color: #000000;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height:auto;
}
.searchheader .card .bigword{
    font-family: 'Jost', sans-serif;
    font-size: 72px;
    margin-bottom: -10px;
    line-height: 1.2;
    position: relative;
    background-color: transparent;
    overflow-y:hidden;
}
.searchheader .card .bigword p{
    overflow-y:hidden;
}
.searchheader .card .PartOfSpeech{
    font-family: 'DM Serif Display';
    font-style: italic;
    font-size: 32px;
    background-color: transparent ;
    display: block;
    text-align: center;
    top: 50px;
    width: 100%;
}
.searchheader .card .Phonetics{
    font-family: 'Tinos', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding: 0px;
    position: sticky;
    background-color: transparent ;
    display: block;
    transform: translate(0, 0px);
}
.space{
    height: 11vw;
    background-color: #ffffff;

}

/* The Cage for the search results table
*/
.searchheader .tablewrapper{
    width: 100%;
    margin: 0 auto;
    transform: translate(0px,0px);
    background-color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
}

a.links{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.671);
    font-style: italic;
}
a.links:hover {
    text-decoration:line;
    color: rgb(148, 0, 0);
    margin: auto;
  }
a.links:visited {
    text-decoration:line;
    color: rgb(48, 48, 48);
    margin: auto;
  }

.searchheader .card .tablewrapper .Xinfo {
    background-color: transparent;
    margin: 0 auto;
    width: 600px;
    flex: 1;
}
.searchheader .card .tablewrapper .Xinfo  .PartOfSpch{
    color: blue;
    font-weight: 400;
    font-size: 18px;
}
.searchheader .card .tablewrapper .Xinfo th{
    font-family: 'DM Serif Display';
    padding: 2px;
    font-size: 32px;
    width: 100%;
    position: relative;
    
}
.searchheader .card .tablewrapper .Xinfo .dividerspace{
    border-top: 2px solid rgb(150, 150, 150);
}
.searchheader .card .tablewrapper .Xinfo .tabledef{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 24px;
    width: 100%;
    position: relative;
    white-space:nowrap;
}
.searchheader .card .tablewrapper .Xinfo .tabledef_a{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 18px;
    width: 100%;
    position: relative;
}

.searchheader .card .tablewrapper .Xinfo .analogy{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 24px;
    width: 100%;
    position: relative;
    border-top: 2px solid rgb(150, 150, 150);
}


.footer {
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
    left: 0px;
    bottom: 0px;
    display: block;
    overflow: hidden;
    font-family:'Jost', sans-serif;
    font-weight: 700;
    color: #000000;
}
.footer a{
    color: black;
}

.footer img{
    height: 100px;
}

.footer .social-media{
    margin-top: 50px;
    height: 30px;
    padding: 10px;
}

.footer table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    margin-top: 80px;
    background-color: #f7f7f7;
    padding: 20px;
}
.footer table tr th{
    position: relative;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}
.searchheader4 .wrapper{
    height: fit-content;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.searchheader4 {
    height:100%;
    min-height:50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}

.searchheader5 .wrapper{
    height: fit-content;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.searchheader5 {
    height:100%;
    min-height:50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}
/*------Word of the Day Page-------*/
.wordofthedaypage .wrapper{
    height: auto;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.wordofthedaypage{
    height:100vh;
    min-height:50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}

/* The Navigation Menu positioning on page*/
.wordofthedaypage nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* The Navigation Link Position on Page*/
.wordofthedaypage .nav-links{
    flex: 1;
    text-align: right;
    position: relative;
}

/* The Navigation Menu Spacing & Orientation*/
.wordofthedaypage .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* The Nav Link Text Color & Font*/
.wordofthedaypage .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.wordofthedaypage .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.wordofthedaypage .nav-links ul li:hover::after{
    width: 100%;
}

.wordofthedaypage .tablewrapper3{
    margin-left: auto;
    margin-right:auto;
    background-color: transparent;
    width: fit-content;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 30px;
}

.wordofthedaypage .MWDsection{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background:white;
    border-radius: 30px;
    padding: 20px;
}

.wordofthedaypage .MWDsection .mwdtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
}
.wordofthedaypage .MWDsection .mwdtitletx {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: -5px;
}
.wordofthedaypage .MWDsection .mwdate {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.wordofthedaypage .MWDsection .mwdbigword {
    font-family: 'Jost', sans-serif;
    font-size: 67px;
    font-weight: 700;
    color: #090152;
    margin-top: 15px;
}
.wordofthedaypage .MWDsection .mwdPhon {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    color: #000000;
}
.wordofthedaypage .MWDsection .mwdefinition {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

.searchheader5 .documentarea{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
    height: fit-content;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    margin-bottom: 100px;
}
.searchheader5 .documentarea h1{
    text-align: center;
    width: 100%;
    height:fit-content;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.searchheader5 .documentarea .Privacy {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;
    border:solid gold;
    border-radius: 40px;
}

.searchheader4 .documentarea1{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 700px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
    height: fit-content;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.searchheader4 .documentarea1 h1{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 100%;
    height:fit-content;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.searchheader4 .documentarea1 .Privacy {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border:solid gold;
    border-radius: 40px;  
}

.searchheader4 .documentarea1 .Privacy form{
    display: block;
    padding: 50px;
    align-items: center;
}

.searchheader4 .documentarea1 .Privacy form p{
    display: block;
    font-size: 20px;
}
.searchheader4 .documentarea1 .Privacy .contactform{
    border-radius:2px;
    padding-left: 10px;
    width: 500px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    height: 50px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

.searchheader4 .documentarea1 .Privacy .contactformmessage {
    border-radius:0px;
    width: 480px;
    padding: 20px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    text-align: left;
    height: 300px;
    font-weight: 700;
    resize: none;
}

.g-recaptcha {
   transform: scale(1);
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    -webkit-transform:scale(1.5);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
}
.g-recaptcha > div:nth-child(1) {
    overflow: hidden;
    height: fit-content;

}

.searchheader4 .documentarea1 .Privacy .buttxn{
    border-radius:10px;
    width: 300px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .05em rgb(156, 156, 156));
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    height: 100px;
    font-weight: 700;
    background-color: gold;
    margin: 50px;
    margin-bottom:40px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.searchheader4 .documentarea1 .Privacy .buttxn:hover{
    background-color: #001163;
    color: white;
}


.searchheader4 .documentarea1 .Privacy .buttxn:active{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.searchheader4 .documentarea1 .Privacy h1{
   font-size: 50px;  
}

.searchheader4 .documentarea1 .Privacy img{
    width: 100px;
    padding: 10px;
}

.searchheader4 .Privacy h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 60px;
    text-align: center;
    
}
.searchheader4 .Privacy h2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.searchheader4 .Privacy p {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.searchheader4 .Privacy ul{
    color: rgb(0, 0, 0);
 
}

.searchheader4 .Privacy ul li{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}


.searchheader .Privacy h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 60px;
    text-align: center;
    
}
.searchheader .Privacy h2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.searchheader .Privacy p {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.searchheader .Privacy ul{
    color: rgb(0, 0, 0);
 
}

.searchheader .Privacy ul li{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}



/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){


    .searchheader .cage {
        position: relative;
        height: 95vh;
        width: 80%;
        display: block;
        left: 10%;
        overflow: hidden;
        top: 0px;
        background-color: #001163;
    }
    .searchheader .cage2 {
        position: absolute;
        height: 95vh;
        width: 60%;
        top: 60px;
        display: inline;
        left: 10%;
        overflow: hidden;
        background-color: #001163;
    }
    .searchheader .text-box{
        position: relative;
        top: 40px;

    }

    .searchheader .text-box h1{
        font-size: 40px;
        padding: 0px 0px;
        background-color: transparent;
        border-radius: 0px;

    }
    .searchheader .search-bar input{
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-weight: 700;
    }
    .searchheader .search-bar{
        max-width: 100%;
        padding: 0px 0px;
    }
    .searchheader .search-bar img{
        width: 30px;
        cursor: pointer;
    }
    .searchheader nav img{
        width: 50px;
    }
    .searchheader .nav-links{
        position: absolute;
        background: #ebebeb;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
    }
    .searchheader4 .nav-links ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }
    .searchheader5 .nav-links ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }
    .searchheader4 .nav-links{
        position: absolute;
        background-color: #ffffff;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
        color: black;
    }
    .searchheader5 .nav-links{
        position: absolute;
        background-color: #ffffff;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
        color: black;
    }
    .searchheader nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader4 nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader5 nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader nav .fa-solid{
        display: inline-block;
        cursor: pointer;
        transform: translate(0px,0px);
    }
    .searchheader .nav-links ul{
        padding: 30px;

    } 
    .searchheader .nav-links ul li a{
        color: black;
    } 

    .searchheader .cardcage{
        font-size: 32px;
        padding: 0px 0px;
        transform: translate(0,0);
        display:block;
        overflow-y: hidden;
        z-index: 1;
    }
    .searchheader .card{
        padding: 0px 0px;
        align-items: center;
    }
    .searchheader .card .bigword{
        font-size: 62px;
    }
    .searchheader .card .PartOfSpeech{
        font-size: 24px;
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .searchheader .card .tablewrapper .Xinfo  .PartOfSpch{
        color: blue;
        font-weight: 400;
        font-size: 12px;
    }
    .searchheader .card .Phonetics{
        font-size: 23px;
        padding: 10px;
        position: sticky;
        background-color: transparent;
        transform: translate(0, -30px);
        margin-bottom: -30px;
        margin-top: 0px;
    }
    .searchheader .tablewrapper{
        width: 100%;
        overflow-y: hidden;

    }

    .searchheader .IndexTable{
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        font-size: 40px;
        position: relative;
        height: fit-content;
    }

    a.links:link{
        color: rgb(0, 47, 255);
        text-decoration: none;
        
    }
    .searchheader .card .tablewrapper .Xinfo {
        width: 100%;
        position: relative;
        overflow-y: hidden;
    }
    .searchheader .card .tablewrapper .Xinfo th{
        padding: 2px;
        font-size: 20px;
        width: 100%;
        position: relative;
    }

    .searchheader .card .tablewrapper .Xinfo .analogy{
        font-family:'Tinos', sans-serif;
        padding: 2px 20px;
        font-size: 23px;
        width: 100%;
        position: relative;
        border-top: 2px solid rgb(56, 56, 56);
    }
    .searchheader .card .tablewrapper .Xinfo .tabledef{
        font-family:'Tinos', sans-serif;
        padding: 1px;
        font-size: 18px;
        width: 100%;
        position: relative;
        text-align: center;
        white-space:nowrap;
    }
    .searchheader .card .tablewrapper .Xinfo .tabledef_a{
        font-family:'Tinos', sans-serif;
        padding: 2px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .searchheader .tablewrapper2 {
       position:  relative;
       display: block;
       height: fit-content;
}
    .searchheader .tablewrapper2  h1{
            font-size: 40px;
            padding: 0px 0px;
            position: relative;
    }
    .searchheader .tablewrapper2 ol{
        list-style-position: inside;
        text-align: left;
        padding-left: 5%;
        font-size: 25px;
    }

    .searchheader .cage .text-box .container .TTDDT img{
        width: 50px;
        padding: 5px;
        position: relative;
    }

    .wordofthedaypage nav img{
        width:60px;
    }
    .wordofthedaypage .nav-links{
        position: absolute;
        background: #090152;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
    }
    .wordofthedaypage nav .fa{
        display: block;
        color: #fff;
        cursor: pointer;
        margin: 30px;
    }
    .wordofthedaypage nav .fa-solid{
        display: inline;
        cursor: pointer;
        transform: tranlsate(0px, 0px);
        margin: 30px 10px;
    }
    .wordofthedaypage nav-links ul{
        padding: 30px;
        color: white;
    } 

    .wordofthedaypage .analogy .fa-bars{
        color: white;
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 30px 30px;
    }

    .wordofthedaypage .tablewrapper3{
        margin-left: auto;
        margin-right:auto;
        background-color: transparent;
        width: fit-content;
        font-family: 'Jost', sans-serif;
        font-size: 40px;
        font-weight: 700;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    
    .wordofthedaypage .MWDsection{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 0px;
        text-align: center;
        width: fit-content;
        max-width: 400px;
        height: fit-content;
        background:white;
        border-radius: 30px;
        padding: 20px;
    }
    
    .wordofthedaypage .MWDsection .mwdtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -1px;
    }
    .wordofthedaypage .MWDsection .mwdtitletx {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-top: -5px;
    }
    .wordofthedaypage .MWDsection .mwdate {
        font-family: Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .wordofthedaypage .MWDsection .mwdbigword {
        font-family: 'Jost', sans-serif;
        font-size: normal;
        font-weight: 700;
        color: #090152;
        margin-top: 15px;
        word-wrap:break-word;
        line-height: 1.2ch;
        overflow: hidden;
        min-height: 80px;
    }
    .wordofthedaypage .MWDsection .mwdPhon {
        font-family: Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-top: 0px;
        color: #000000;
    }
    .wordofthedaypage .MWDsection .mwdefinition {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
    }
    .searchheader5 .documentarea {
        padding: 0px 0px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:40px;
        align-items: center;
        height: fit-content;
        overflow: hidden;
        margin-bottom: 100px;
    }
    
    .searchheader5 .documentarea h1 a{
        font-size: 11vw;
        text-align: center;
        margin-left: auto;
    }

    .searchheader4 .documentarea1 {
        padding: 0px 0px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top:40px;
        align-items: center;
        width: 95%;
        margin-bottom: 100px;
    }
    
    .searchheader4 .documentarea1 h1 a{
        font-size: 11vw;
        text-align: center;
        margin-left: auto;
    }
    
    
.footer {
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
    bottom: 0px;
    display: block;
    overflow: hidden;
    font-family:'Jost', sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}
.footer a{
    color:rgb(0, 0, 0);
}
.footer img{
    height: 70px;
}
.footer img .social-media{
    height: 50px;
}
.footer table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.footer table tr th{
    position: relative;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.footer .social-media{
    margin-top: 50px;
    height: 30px;
    padding: 10px;   
}


.searchheader5 .documentarea .Privacy{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;  
}

.searchheader5 .documentarea .Privacy h1{
   font-size: 12vw;
}

.searchheader .documentarea1 .Privacy{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 5px; 
     
}

.space{
    height: 0px;
    background-color: #f7f7f7;
    display: block;
}

.searchheader4 .documentarea1 .Privacy form p{
    display: block;
    font-size: 16px;
}
.searchheader4 .documentarea1 .Privacy .contactform{
    border-radius:2px;
    margin-left: -20px;
    width: 100%;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    height: 50px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

.searchheader4 .documentarea1 .Privacy .contactformmessage {
    border-radius:0px;
    width: 100%;
    padding: 20px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .2em rgb(85, 85, 85));
    margin-bottom: 20px;
    margin-left: -20px;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    text-align: left;
    height: 300px;
    font-weight: 700;
    resize: none;
}

.searchheader4 .documentarea1 .Privacy .buttxn{
    border-radius:10px;
    width: 200px;
    border:none;
    outline:none;
    filter: drop-shadow(.2em .2em .05em rgb(156, 156, 156));
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    height: 50px;
    font-weight: 700;
    background-color: gold;
    margin: 20px;
    margin-bottom:20px;
}


.g-recaptcha {
    transform: scale(1);
    margin-left: -30vw;
    position: relative;
    width: 100vw;
     -webkit-transform:scale(1);
     transform-origin:0 0;
     -webkit-transform-origin:0 0;
 }
 .g-recaptcha > div:nth-child(1) {
     overflow: hidden;
     height: fit-content;
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
 
 }

}
