/* Page Settings*/
/* Font CSS added Here*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    row-gap: 0;
}

::placeholder{
    font-weight: 100;
    color:#525252;
    font-size: 18px;
}

.h-lines {   
    height:2px;
    width: 100%;
    background-color:#707070;
    position: relative;
    border: 0px;
}
/* The header including background photo*/
.header{
    min-height: 100vh;
    width: 100%;
    /*background-image:linear-gradient(rgb(11, 0, 77, .75),rgba(0, 0, 0, 1)), url(images/COA.png), linear-gradient(rgb(11, 0, 77, 1),rgb(11, 0, 77, 1));
    */
    background-position: top;
    position: relative;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:auto;
    overflow: visible;
    top: 80px;
}

/* The Navigation Menu positioning on page*/
nav{
    display: flex;
    padding: 10px;
    text-align: right;
    align-items: center;
    z-index: 3;
    border-bottom: 1px solid rgb(206, 206, 206);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: white;
    overflow: visible;
}

/* The Navigation Link Position on Page*/
.nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: static;
    overflow: visible;
}

/* The Nav Link Text Color & Font*/
.nav-links ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #001163;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
/*********************************************/
.nav-links ul li button{
    font-family: 'Montserrat', sans-serif;
    color: #001163;
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    border: none;
    font-weight: 700;
}

.nav-links ul .games_dd2{
    position: static;
}

.nav-links .dropdown {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
    background-color: white;
    border: solid rgb(0, 0, 0) 1px;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    right: 50px;
    opacity: 0%;
    display: none;
    transition: .5s;
    transform: translateY(9px);
    width: fit-content;
    overflow: hidden;
    z-index: 2;
}

.nav-links .dropdown a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #001163;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    transition: .5s;
    height: 100px;
    width: 100px;
    padding: 20px;
}

.nav-links ul li:hover .dropdown {
    display: block;
    opacity:100%;
    transform: translateY(0px);

}

.nav-links .dropdown a:hover{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #001163;
    text-decoration: none;
}

nav img{
    width: 60px;
    height: 60px;
}
/************************************/


/* The Navigation Menu Animation*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #001163;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    height: 100%;
    color: #001163;
    position: relative;
    text-align: center;
    font-family: 'Jost', sans-serif;
    top: 0px;
    padding-bottom: 0px;
}

.text-box img{
    width:100px;
}

.text-box h1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    border-radius: 90px;
    text-align: center;
}

nav h1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 50px;
    background-color:#001163;
    text-align: center;
    font-family: 'Jost';
}

nav h1 a{
    text-decoration: none;
    color: #001163;
}

.text-box h1 a{
    text-decoration: none;
    color: #001163;
}

.text-box .container{
    overflow: visible;
}

.search-bar{
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    max-width: 600px;
    border-radius: 30px;
    padding: 0px 2px;
    backdrop-filter: blur(10px) saturate(180%);
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    border: .1px solid rgb(196, 196, 196);
}


.search-bar:focus-within{
    border:none;
    transition-duration: .4s;
    filter: drop-shadow(.2em .2em .2em rgb(182, 182, 182));
}

.search-directions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    font-family: 'Montserrat';
    font-weight: 500;
    overflow: visible;
    margin-bottom: 100px;
}

.search-directions .d-list {
    list-style-position: inside;
}


.MuakuWD {
    display: block;
    width: 100%;
    top: 0px;
    position: relative;
    transform: translateY(0px);
    transition: all .4s ;
    box-shadow: .6em .5em 1em rgb(121, 121, 121, 0);
}

.MuakuWD :hover {
    transition: all .4s;
    transform: translateY(-4px);
    box-shadow: .6em .5em 1em rgb(121, 121, 121);
}

.MuakuWD :hover::after {
    transform: translateY(4px);
    transition: .4s;
    box-shadow: .6em .5em 1em rgb(121, 121, 121, 0);
}

.search-bar button{
    background:transparent;
    border: 0;
    border-radius: 50%;
}

.search-bar img{
    width: 30px;
    cursor: pointer;
    padding-right: 10px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 22px;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

nav .fa{
    display: none;
}
nav .fa-solid{
    display: none;
}

.mwd {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    top: 0px;
    text-align: center;
    min-width: 300px;
    width: 80%;
    height: fit-content;
    border-radius: 30px;
    padding: 10px;
    border: 5px solid #001163;
    cursor: pointer;
    overflow: hidden;
}

.mwd .mwdtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    pointer-events: none;
}
.mwd .mwdtitletx {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: -5px;
    pointer-events: none;
}
.mwd .mwdate {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    pointer-events: none;
}
.mwd .mwdbigword {
    font-family: 'Jost', sans-serif;
    font-size: 67px;
    font-weight: 700;
    color: #090152;
    margin-top: 0px;
    line-height:1.5cap;
    overflow: hidden;
    pointer-events: none;
    margin-bottom: 20px;
}
.mwd .mwdPhon {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    color: #000000;
    pointer-events: none;
}
.mwd .mwdefinition {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:20px;
    pointer-events: none;
    line-height: 25px;
    overflow: hidden;
}

.sidebar-right {
    width: 40%;
}




/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){
    .header {
    position: relative;
    margin-top: 50px;
    margin-bottom:20px;
    overflow: visible;
    }

    .header .text-box {
        width: 100%;
        height: 50%;
        color: #fff;
        position: relative;
        padding: 0px 0px;
        top: 40px;
        font-family: 'Jost', sans-serif;
        overflow: visible;
        display: none;
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    .header .text-box h1{
        white-space: nowrap;
        display: block;
        position: relative;
        left: 0px;
        font-size: 12vw;
        margin-bottom: 10px;
        padding:1vw;
        height: max-content;
        
    }
    .search-bar input{
        font-size: 14px;
        color: black;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }

    
::placeholder{
    font-weight: 100;
    color:#525252;
    font-size: 14px;
}
    .search-bar{
        height: 50px;
        max-width: 85%;
        padding: 0px 2px;
        background-color: rgb(255, 255, 255, 1);
        border: .2px solid rgb(155, 155, 155);
    }
    .search-bar img{
        width: 40px;
        cursor: pointer;
    }


    nav{
        padding: 10px;
        border-bottom: 0px solid rgb(206, 206, 206);
        justify-content: center;
    }

    nav img{
        width: 100px;
        height: auto;
        text-align: center;
        padding-top: 40px;
    }

    .nav-links{
        position: absolute;
        background: #ebebeb;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
    }
    nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 30px;
    }
    
    nav .fa-solid{
        display: inline;
        cursor: pointer;
        transform: tranlsate(0px, 0px);
        margin: 30px 10px;
    }
    .nav-links ul{
        padding: 30px;
        color: rgb(0, 0, 0);
    } 

    nav .fa-bars{
        color: rgb(0, 0, 0);
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 40px;
    }

    .MuakuWD {
        display: block;
        position: relative;
        width: 100%;
        zoom: .6;
        padding: 2px;
    }


    .mwd {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        top: 0px;
        text-align: center;
        width: 80%;
        max-width: 700px;
        height: fit-content;
        background:white;
        border-radius: 30px;
        padding: 20px;
    }

    .mwd .mwdbigword {
        font-family: 'Jost', sans-serif;
        font-size: 20vw;
        font-weight: 700;
        color: #090152;
        margin-top: 4vw;
        margin-bottom: 4vw;
        word-wrap:break-word;
        line-height:1.2ch;
        overflow: visible;    
        height: fit-content;
        width: 100%;
    }

    .mwd .mwdPhon {
        font-family: Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-top: 0px;
        color: #000000;
        width: 100%;
    }

    .mwd .mwdefinition {
        font-family: 'Jost', sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin-top: 4vh;
        width: 100%;
    }

    .mwd .mwdtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 6vw;
        font-weight: 700;
        letter-spacing: -1px;
        width: 100%;
    }

    .mwd .mwdtitletx {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 700;
        letter-spacing: -1px;
        margin-top: -5px;
        width: 100%;
    }

    .nav-links .dropdown {
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        font-size: 20px;
        background-color: white;
        border: solid rgb(0, 0, 0) 1px;
        position: absolute;
        border-radius: 5px;
        padding: 0px;
        margin-top: 10px;
        right: 10px;
        opacity: 0%;
        display: none;
        transition: .5s;
        transform: translateY(9px);
        width:80%;
        overflow: hidden;
        z-index: 2;
    }
    .nav-links .dropdown a{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        height: fit-content;
        font-size: 14px;
    }
    .nav-links .dropdown a:hover{
        font-size: 14px;
    }

    .search-directions {
        overflow: visible !important;
        margin-bottom: 100px;
    }
    




}
/*------ABOUT US PAGE-------*/
/* The Nav Link Text Color & Font*/
.sub-header .text-box h1{
    font-size: 62px;
}

.sub-header .nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
}
.sub-header h1{
    margin-top: 36px;
}

/* The Navigation Link Position on Page*/
.sub-header .nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.sub-header .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    position: relative;
    cursor: pointer;
}
.sub-header img{
    width:80px;
    text-align: left;
}
/*------Search Page-------*/

.searchheader4 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader4 .nav-links ul li:hover::after{
    width: 100%;
}

.searchheader5 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader5 .nav-links ul li:hover::after{
    width: 100%;
}
/* The Cage for the search header
*/


.footer {
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
    left: 0px;
    bottom: 0px;
    display: block;
    overflow: hidden;
    font-family:'Jost', sans-serif;
    font-weight: 700;
    color: #000000;
    margin-top: 140px;
}
.footer a, .footer th{
    color: black;
    font-family:'Jost', sans-serif;
}

.footer img{
    height: 200px;
}

.footer .social-media{
    margin-top: 50px;
    height: 30px !important;
    padding: 0px !important;
}

.footer table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80;
    height: 100%;
    margin-top: 80px;
    background-color: #f7f7f7;
    padding: 20px;
    justify-content: center;
}
.footer table tr th{
    position: relative;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 100%;
    text-align: center;
}
.searchheader4 .wrapper{
    height: fit-content;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.searchheader4 {
    height:100%;
    min-height:50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}



.g-recaptcha {
   transform: scale(1);
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    -webkit-transform:scale(1.5);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
}
.g-recaptcha > div:nth-child(1) {
    overflow: hidden;
    height: fit-content;

}


.searchheader4 .Privacy h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 60px;
    text-align: center;
    
}
.searchheader4 .Privacy h2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.searchheader4 .Privacy p {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.searchheader4 .Privacy ul{
    color: rgb(0, 0, 0);
 
}

.searchheader4 .Privacy ul li{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}


.searchheader .Privacy h1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 60px;
    text-align: center;
    
}
.searchheader .Privacy h2{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: fit-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.searchheader .Privacy p {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

.searchheader .Privacy ul{
    color: rgb(0, 0, 0);
 
}

.searchheader .Privacy ul li{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: fit-content;
    font-size: 14px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
 
.blog-box{
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 10px;
    border-radius: 20px;
    height: max-content;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-text span{
    color: #747474;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 2rem;
    font-weight: 900;
    color: #000130;
    font-family: 'Old Standard TT', sans-serif;
    line-height: 1em;
    text-align: center;
    overflow: visible;
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    text-align: center;
}
.blog-text a{
    font-size: 0.9rem;
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #042eb6;
    transition: all ease 0.3s;
}

.blog-category{
    font-family: 'Jost';
    font-weight: 700;
    background-color:#000288;
    color: white !important;
    padding: 10px;
    text-decoration: none;
}

.blog-category a {
    text-decoration: none;
}

.blog-frontpage-container {
    display: block;
    position: relative;
    height: 95vh;
    width: 60%;
    height: auto;
    padding-top: 30px;
    top:-30px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.blog-frontpage {
    width: 100%;
}

.blog-frontpage .blog-box {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.blog-frontpage .blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-frontpage .blog-text span{
    color: #747474;
    font-size: 1.5rem;
}

.blog-frontpage .blog-text .blog-title{
    font-size: 5rem;
    font-weight: 900;
    color: #000130;
    font-family: 'Old Standard TT', sans-serif;
    line-height: 1em;
    text-align: center;
    overflow: visible;
}

.blog-frontpage .blog-text p{
    color: #9b9b9b;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    text-align: center;
}

.blog-frontpage .blog-text a{
    font-size: 1.2rem;
    color: #0f0f0f;
}

.header .blog-container{
    position: relative;
    height: 95vh;
    width: 100%;
    height: auto;
    padding-top: 30px;
    top:-30px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    flex-wrap: wrap;
}

.blog-title {
    text-decoration: none;
}

.blog-frontpage .blog-text .blog-title:hover{
    color: rgb(0, 0, 173);
}

/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){


    .sidebar-container{
        top:20px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        flex-direction: column-reverse;
        margin-left: auto !important;
        margin-right: auto;
    }

    .blog-frontpage-container {
        width: 100%;
    }

    .header .blog-container{
        font-size: 32px;
        display:block;
        width: 100%;
    }

     
.blog-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.sidebar {
    min-width: 100% ;
}

.sidebar .pageLinks ul li {
    font-family: 'Montserrat';
    padding: 20px;
    text-align: center;
    font-size: 20px
}


    .searchheader .cage2 {
        position: absolute;
        height: 95vh;
        width: 60%;
        top: 60px;
        display: inline;
        left: 10%;
        overflow: hidden;
        background-color: transparent;
    }
    .searchheader .text-box{
        position: relative;
        top: 40px;

    }

    .searchheader .text-box h1{
        font-size: 40px;
        padding: 0px 0px;
        background-color: transparent;
        border-radius: 0px;

    }
    .searchheader .search-bar input{
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-weight: 700;
    }
    .searchheader .search-bar{
        max-width: 100%;
        padding: 0px 0px;
    }
    .searchheader .search-bar img{
        width: 30px;
        cursor: pointer;
    }
    .searchheader nav img{
        width: 50px;
    }
    .searchheader .nav-links{
        position: absolute;
        background: #ebebeb;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
    }
    .searchheader4 .nav-links ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }
    .searchheader5 .nav-links ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }
    .searchheader4 .nav-links{
        position: absolute;
        background-color: #ffffff;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
        color: black;
    }
    .searchheader5 .nav-links{
        position: absolute;
        background-color: #ffffff;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
        color: black;
    }
    .searchheader nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader4 nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader5 nav .fa{
        display: block;
        color: #000000;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader nav .fa-solid{
        display: inline-block;
        cursor: pointer;
        transform: translate(0px,0px);
    }
    .searchheader .nav-links ul{
        padding: 30px;

    } 
    .searchheader .nav-links ul li a{
        color: black;
    } 

   
    a.links:link{
        color: rgb(0, 47, 255);
        text-decoration: none;    
    }


    .searchheader .cage .text-box .container .TTDDT img{
        width: 50px;
        padding: 5px;
        position: relative;
    }
    
.footer {
    height: fit-content;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    position: relative;
    bottom: 0px;
    display: block;
    overflow: hidden;
    font-family:'Jost', sans-serif;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}
.footer a{
    color:rgb(0, 0, 0);
}
.footer img{
    height: 70px;
}
.footer img .social-media{
    height: 50px;
}
.footer table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.footer table tr th{
    position: relative;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 100%;
}

.footer .social-media{
    margin-top: 50px;
    height: 30px;
    padding: 10px;   
}

.space{
    height: 0px;
    background-color: #f7f7f7;
    display: block;
}

.sidebar-right {
    width: 100%;
}



}


/**********************The Cage for the search results**************************/
.header .sidebar-container {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 90vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items: top;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


@media(min-width: 700px){
    @media(max-width: 1200px){
    
        .text-box {
            overflow: hidden;
            border-bottom: 0px solid rgb(180, 180, 180);
            padding-bottom:10px;
        }
    
    
        .header .sidebar-container {
            width: 100%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }

        .blog-frontpage-container {
            width: 60%;
            justify-content: center;
            align-items: center;
        }
    
        .cardcage {
            width: 100% !important;
            height: 100%;
        }
    
        .sidebar-container .sidebar {
            scale: 1;
            width: 40%;
            max-width: 40%;
        }
    
        .MuakuWD {
            scale: 1;
            width: 100%;
            box-shadow: 0 0 0 rgb(121, 121, 121);
        }
    
        .mwd {
            min-width: fit-content;
            padding: 5px;
        }
    
        .commentArea{
            box-shadow: 0 0 0 rgb(163, 163, 163) !important;
        }
    
        .mwd .mwdbigword {
            font-family: 'Jost', sans-serif;
            font-size: 300%;
            font-weight: 700;
            color: #090152;
            margin-top: 0px;
            line-height:1.5cap;
            overflow: hidden;
            pointer-events: none;
            margin-bottom: 20px;
            width: 100%;
        }
    
        #HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
            font-family: 'montserrat', sans-serif !important;
            font-size: 18px !important;
            font-weight: 500 !important;
            padding: 8px;
            margin: 0;
            width: 100%;
        }

        .blog-box{
            width: 250px;
            background-color: #ffffff;
            border: 1px solid #ececec;
            margin: 0px 10px;
            border-radius: 20px;
            height: max-content;
        }
    
        
        
    }
    }