/* Page Settings*/
/* Font CSS added Here*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.h-lines {   
    height:3px;
    width: 100%;
    background-color:#707070;
    position: relative;
    border: 0px;
}
/* The header including background photo*/
.header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* The Navigation Menu positioning on page*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* The Navigation Link Position on Page*/
.nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* The Nav Link Text Color & Font*/
.nav-links ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    padding: 0px;
    text-align: center;
    font-family: 'Jost', sans-serif;
}
.text-box img{
    width:100px;
}

.text-box h1{
    font-size: 72px;
    padding: 50px;
}

.search-bar{
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    max-width: 600px;
    border-radius: 30px;
    padding: 0px 2px;
    backdrop-filter: blur(10px) saturate(180%);
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    align-items: center;
}

.search-bar button{
    background:transparent;
    border: 0;
    border-radius: 50%;
}

.search-bar img{
    width: 50px;
    cursor: pointer;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 22px;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

nav .fa{
    display: none;
}
nav .fa-solid{
    display: none;
}

/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){
    .header .text-box {
        width: 100vw;
        height: 100%;
        color: #fff;
        position: relative;
        padding: 0px;
        top: 50px;
        font-family: 'Jost', sans-serif;
        overflow: hidden;
        display: block;

    }
    .header .text-box h1{
        text-align: center;
        font-size: 13vw;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        left: 10px;
    }
    .search-bar input{
        font-size: 20px;
        color: black;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    .search-bar{
        height: 50px;
        max-width: 85%;
        padding: 0px 10px;
        background-color: rgb(255, 255, 255, 1);
        border-style:none;
        border-color: #000000;
    }
    .search-bar img{
        width: 40px;
        cursor: pointer;
    }
    nav img{
        width:60px;
    }
    .nav-links{
        position: absolute;
        background: #090152;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
    }
    nav .fa{
        display: block;
        color: #fff;
        cursor: pointer;
        margin: 30px;
    }
    nav .fa-solid{
        display: inline;
        cursor: pointer;
        transform: tranlsate(0px, 0px);
        margin: 30px 10px;
    }
    .nav-links ul{
        padding: 30px;
        color: white;
    } 

    nav .fa-bars{
        color: white;
        align-items: right;
        width: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 30px 30px;
    }

}
/*------ABOUT US PAGE-------*/
/* The Nav Link Text Color & Font*/
.sub-header .text-box h1{
    font-size: 62px;
}

.sub-header .nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
}
.sub-header h1{
    margin-top: 36px;
}

/* The Navigation Link Position on Page*/
.sub-header .nav-links{
    flex: 1;
    text-align: right;
}

/* The Navigation Menu Spacing & Orientation*/
.sub-header .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    position: relative;
    cursor: pointer;
}
.sub-header img{
    width:80px;
    text-align: left;
}
/*------Search Page-------*/
.searchheader .wrapper{
    height: auto;
    width: 100%;
    position:relative;
    overflow-y: auto;
}
.searchheader{
    height:100vh;
    min-height:50vh;
    width: 100%;
    background-color: rgb(11, 0, 77);
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 0px 0px;
}

/* The Navigation Menu positioning on page*/
.searchheader nav{
    display: flex;
    padding: 20px 20px;
    justify-content: right;
    align-items: center;
}

/* The Navigation Link Position on Page*/
.searchheader .nav-links{
    flex: 1;
    text-align: right;
    position: relative;
}

/* The Navigation Menu Spacing & Orientation*/
.searchheader .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* The Nav Link Text Color & Font*/
.searchheader .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* The Navigation Menu Animation*/
.searchheader .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.searchheader .nav-links ul li:hover::after{
    width: 100%;
}
/* The Cage for the search header
*/
.searchheader .cage {
    position: absolute;
    height: 95vh;
    width: 90%;
    top: 56px;
    display: inline;
    left: 5%;
    overflow: hidden;
}

.searchheader .text-box{
    width: 100%;
    color: #fff;
    position: relative;
    padding: 0px;
    text-align: center;
    display: inline;
    top: 0px;
    overflow: hidden;
}
.searchheader .text-box img{
    width:200px;
}

.searchheader .text-box h1{
    font-size: 50px;
    padding: 20px;
    font-family: 'Jost', sans-serif;
}

.searchheader .search-bar{
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    max-width: 700px;
    border-radius: 60px;
    padding: 0px 5px;
    backdrop-filter: blur(10px) saturate(180%);
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
    align-items: center;
}

.searchheader .cage .text-box .container .TTDDT img{
    width: 70px;
    padding: 5px;
    position: relative;
}

.searchheader .search-bar button{
    background:transparent;
    border: 0;
    border-radius: 50%;
}

.searchheader .search-bar img{
    width: 50px;
    cursor: pointer;
}

.searchheader .search-bar input{
    background: transparent;
    padding: 10px 20px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
}

.searchheader nav .fa{
    display: none;
}
.searchheader nav .fa-solid{
    display: none;
}

.searchheader .IndexTable{
    text-align: center;
    background-color: rgb(189, 189, 189);
    width: 100%;
    font-size: 40px;
    position: relative;
}
.searchheader .tablewrapper2{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 100%;
    margin-top: -100px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.searchheader .tablewrapper2 .biglogo{
    text-align: center;
    background-color: rgb(11, 0, 77);
    width: 400px;
    margin-bottom: 30px;
}
.searchheader .tablewrapper2 ol{
    list-style-position: inside;
    text-align: left;
    padding-left: 35%;
}
/* The Cage for the search results
*/
.searchheader .cardcage{
    position: absolute;
    height: 95vh;
    width: 100%;
    min-width: 100%;
    top: 250px;
    height: auto;
    overflow: auto;
}
.searchheader .card{
    width: 100%;
    background-color: rgb(245, 245, 245);
    color: #000000;
    position: relative;
    text-align: center;
    display: inline-block;
    overflow: auto;
    height: auto
}
.searchheader .card .bigword{
    font-family: 'Jost', sans-serif;
    font-size: 72px;
    margin-bottom: -10px;
    line-height: 1.2;
    position: relative;
    background-color: transparent;
    overflow-y:hidden;
}
.searchheader .card .bigword p{
    overflow-y:hidden;
}
.searchheader .card .PartOfSpeech{
    font-family: 'DM Serif Display';
    font-style: italic;
    font-size: 32px;
    background-color: transparent ;
    display: block;
    text-align: center;
    top: 50px;
    width: 100%;
}
.searchheader .card .Phonetics{
    font-family: 'Tinos', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding: 0px;
    position: sticky;
    background-color: transparent ;
    display: block;
    transform: translate(0, 0px);
}
/* The Cage for the search results table
*/
.searchheader .tablewrapper{
    width: 100%;
    margin: 0 auto;
    transform: translate(0px,0px);
    background-color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
}

a.links{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.671);
    font-style: italic;
}
a.links:hover {
    text-decoration:line;
    color: rgb(148, 0, 0);
    margin: auto;
  }
a.links:visited {
    text-decoration:line;
    color: rgb(117, 0, 0);
    margin: auto;
  }

.searchheader .card .tablewrapper .Xinfo {
    background-color: transparent;
    margin: 0 auto;
    width: 600px;
    flex: 1;
}
.searchheader .card .tablewrapper .Xinfo  .PartOfSpch{
    color: blue;
    font-weight: 400;
    font-size: 18px;
}
.searchheader .card .tablewrapper .Xinfo th{
    font-family: 'DM Serif Display';
    padding: 2px;
    font-size: 32px;
    width: 100%;
    position: relative;
    
}
.searchheader .card .tablewrapper .Xinfo .dividerspace{
    border-top: 2px solid rgb(150, 150, 150);
}
.searchheader .card .tablewrapper .Xinfo .tabledef{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 24px;
    width: 100%;
    position: relative;
    white-space:nowrap;
}
.searchheader .card .tablewrapper .Xinfo .tabledef_a{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 18px;
    width: 100%;
    position: relative;
}

.searchheader .card .tablewrapper .Xinfo .analogy{
    font-family:'Tinos', sans-serif;
    padding: 2px;
    font-size: 24px;
    width: 100%;
    position: relative;
    border-top: 2px solid rgb(150, 150, 150);
}

.searchheader .footer {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: rgb(11, 0, 77);
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
}
.searchheader .footer img{
    height: 100px;
    text-align: center;
}

.searchheader .footer .ft1{
    font-family:'Tinos', sans-serif;
    color: #ffffff;
    position: relative;
    font-size: 14px;
    top: 40px;
}


.footer {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: rgb(248, 248, 248);
    position: relative;
    left: 0;
    bottom: 0;
    display: inline-block;
    overflow: hidden;
}
.footer img{
    height: 100px;
    text-align: center;
}

.footer .ft1{
    font-family:'Tinos', sans-serif;
    color: #000000;
    position: relative;
    font-size: 14px;
    top: 40px;
}


/*Settings For Screens with Max width 700px*/

@media(max-width: 700px){

    .searchheader .cage {
        position: absolute;
        height: 95vh;
        width: 80%;
        top: 20px;
        display: inline;
        left: 10%;
        overflow: hidden;
    }

    .searchheader .text-box h1{
        font-size: 40px;
        padding: 0px 0px;
    }
    .searchheader .search-bar input{
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-weight: 700;
    }
    .searchheader .search-bar{
        max-width: 100%;
        padding: 0px 0px;
    }
    .searchheader .search-bar img{
        width: 30px;
        cursor: pointer;
    }
    .searchheader nav img{
        width: 50px;
    }
    .searchheader .nav-links{
        position: absolute;
        background: #090152;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition:.5s;
        overflow: hidden;
    }
    .searchheader nav .fa{
        display: block;
        color: #fff;
        cursor: pointer;
        margin: 10px;
    }
    .searchheader nav .fa-solid{
        display: inline-block;
        cursor: pointer;
        transform: translate(0px,0px);
    }
    .searchheader .nav-links ul{
        padding: 30px;
    } 

    .searchheader .cardcage{
        font-size: 32px;
        padding: 0px 0px;
        transform: translate(0,0);
        top: 150px;
        overflow-y: hidden;
        z-index: 1;
    }
    .searchheader .card{
        padding: 0px 0px;
        align-items: center;
    }
    .searchheader .card .bigword{
        font-size: 62px;
    }
    .searchheader .card .PartOfSpeech{
        font-size: 24px;
        display: inline-block;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .searchheader .card .tablewrapper .Xinfo  .PartOfSpch{
        color: blue;
        font-weight: 400;
        font-size: 12px;
    }
    .searchheader .card .Phonetics{
        font-size: 23px;
        padding: 10px;
        position: sticky;
        background-color: transparent;
        transform: translate(0, -30px);
        margin-bottom: -30px;
        margin-top: 0px;
    }
    .searchheader .tablewrapper{
        width: 100%;
        overflow-y: hidden;

    }
    a.links:link{
        color: rgb(0, 47, 255);
        text-decoration: none;
        
    }
    .searchheader .card .tablewrapper .Xinfo {
        width: 100%;
        position: relative;
        overflow-y: hidden;
    }
    .searchheader .card .tablewrapper .Xinfo th{
        padding: 2px;
        font-size: 20px;
        width: 100%;
        position: relative;
    }

    .searchheader .card .tablewrapper .Xinfo .analogy{
        font-family:'Tinos', sans-serif;
        padding: 2px 20px;
        font-size: 23px;
        width: 100%;
        position: relative;
        border-top: 2px solid rgb(150, 150, 150);
        border-bottom: 2px solid rgb(150, 150, 150);
    }
    .searchheader .card .tablewrapper .Xinfo .tabledef{
        font-family:'Tinos', sans-serif;
        padding: 1px;
        font-size: 18px;
        width: 100%;
        position: relative;
        text-align: center;
        white-space:nowrap;
    }
    .searchheader .card .tablewrapper .Xinfo .tabledef_a{
        font-family:'Tinos', sans-serif;
        padding: 2px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .searchheader .tablewrapper2 .biglogo{
        text-align: center;
        background-color: rgb(11, 0, 77);
        width: 200px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .searchheader .tablewrapper2 ol{
        list-style-position: inside;
        text-align: left;
        padding-left: 5%;
        font-size: 32px;
    }
    .searchheader .cage .text-box .container .TTDDT img{
        width: 50px;
        padding: 5px;
        position: relative;
    }
    
}
