
.header .IndexBox{
    width: fit-content;
    max-width: 80%;
    color: #000000;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height:auto;
    border: 5px solid #001163;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 30px;
    box-shadow: .6em .5em .5em rgb(121, 121, 121, .5);
    overflow: hidden;
    font-family: 'Jost', sans-serif;
}
.header .IndexBox h1{
    text-align: left;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header .IndexBox ul{
    list-style-position: inside;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.header .IndexBox ul .bigLetter{
    list-style-type: none;
}
.header .IndexBox ul li a{
    color:black;
    text-decoration: none;
}

.header .IndexTable{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-size: 40px;
    position: relative;
}

/*****************ALPHABET BOX*********************/
.header .alphabetBox{
    width: fit-content;
    max-width: 550px;
    color: #001163;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: .3em .3em .3em rgb(121, 121, 121);
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.header .alphabetBox ul{
    display: flex;
    flex-wrap: wrap;
}


.header .alphabetBox ul li {
    width: 60px;
    color: #001163;
    transition: .5s;
    display: inline-block;
}

.header .alphabetBox ul li a{
    color: #001163;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.header .alphabetBox ul .activeLetter{
    background-color: #001163;
    width: 60px;
}

.header .alphabetBox ul .activeLetter a{
    color: white;
}

.header .alphabetBox ul li:hover{
    width: 60px;
    color: white;
    background-color: #001163;
}

.header .alphabetBox ul li:hover a{
    color: white;
}
/************************PAGINATION********************************/
.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 22px;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pagination{
    width: 500px;
    border-radius: 0px;
    box-shadow: .6em .5em .5em rgb(121, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 40px;
    overflow: hidden;
    height: fit-content;
}

.pagination a{
    padding: 9px 18px;
    font-weight: 500;
    text-decoration: none;
    font-size: 25px;
    color: #001163;
    border-radius: 0%;
    transition: 0.5s ease-in-out;
    font-family: 'Jost', sans-serif;
}
.control{
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: #001163;
    border: none;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 0px;
    transition: 0.5s ease-in-out ;
    font-family: 'Jost', sans-serif;
}

.pageNumbers {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.disabled{
    color: rgba(12, 16, 41, 0.5);
    cursor: default;
}
.control:not(.disabled):hover,.pageNumbers a:hover{
    background-color: rgb(9, 9, 75);
    color: white;
    border-radius: 0%;
}
a.active{
    background-color: rgb(9, 9, 75);
    color: white;
}
.hidden{
    display: none;
}

/**************************SUB 700*************************/
@media(max-width: 700px){

  .header br{
    display: none;
    }

.header .IndexBox {
    position:  relative;
    display: block;
    background-color: transparent;
    padding: 0px 0px;
    align-items: center;
    width: 80%;
    display: block;
    top:-40px;
    padding: 20px;
    margin-bottom: 0px;
}
.header .IndexBox ul{
    list-style-position: inside;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.header .IndexBox ul .bigLetter{
    list-style-type: none;
}

.header .IndexBox .IndexTable{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    height: fit-content;
}

.header .alphabetBox{
    width: 75vw;
    max-width: 550px;
    color: #001163;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: .3em .3em .3em rgb(121, 121, 121);
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    bottom: 40px;
    margin-top: 100px;
}

.header .alphabetBox ul li {
    width: 60px;
    color: #001163;
    transition: .5s;
    display: inline-block;
}


.header .alphabetBox ul li a{
    color: #001163;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.control{
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: #001163;
    border: none;
    cursor: pointer;
    padding: 0px 20px;
    border-radius: 0px;
    transition: 0.5s ease-in-out ;
    font-family: 'Jost', sans-serif;
}

.pagination{
    width: 500px;
    border-radius: 0px;
    box-shadow: .6em .5em .5em rgb(121, 121, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    overflow: hidden;
    height: fit-content;
}

.pagination a{
    padding: 5px 5px;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    color: #001163;
    border-radius: 0%;
    transition: 0.5s ease-in-out;
    font-family: 'Jost', sans-serif;
}

.pageNumbers {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.disabled{
    color: rgba(12, 16, 41, 0.5);
    cursor: default;
}
.control:not(.disabled):hover,.pageNumbers a:hover{
    background-color: rgb(9, 9, 75);
    color: white;
    border-radius: 0%;
}
a.active{
    background-color: rgb(9, 9, 75);
    color: white;
}
.hidden{
    display: none;
}

}