
:root{
    --primary-color:white;
    --primary-color-b: #f7f7f7;
    --secondary-color:#001163;
    --shadow-color: rgb(182, 182, 182);
    --primary-text-color: black;
}

.header .IndexBox{
    width: fit-content;
    max-width: 80%;
    color: var(--primary-text-color);
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height:auto;
    border: 5px solid var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    margin-bottom: 100px;
    padding: 30px;
    box-shadow: .6em .5em .5em var(--shadow-color);
    overflow: hidden;
    font-family: 'Jost', sans-serif;
}
.header .IndexBox h1{
    text-align: left;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: var(--primary-text-color);
}
.header .IndexBox ol{
    list-style-position: inside;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.header .IndexBox ol li a{
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .IndexTable{
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    font-size: 40px;
    position: relative;
}


/**************************SUB 700*************************/
@media(max-width: 700px){
.header .IndexBox {
    position:  relative;
    display: block;
    background-color: transparent;
    padding: 0px 0px;
    align-items: center;
    width: 80%;
    display: block;
    top:-40px;
    padding: 20px;
    margin-bottom: 0px;
}
.header .IndexBox ol{
    list-style-position: inside;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}

.header .IndexBox .IndexTable{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    height: fit-content;
}


}