.blue-header .wrapper{
    height: fit-content;
    width: 100%;
    position:relative;
    overflow-y: auto;
}

.blue-header {
    height:100%;
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0px 0px;
    top:10px;
}

.blue-header .documentarea{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-style: normal;
    height: fit-content;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    margin-bottom: 100px;
}
.blue-header .documentarea h1{
    text-align: center;
    width: 100%;
    height:fit-content;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.blue-header .documentarea .Privacy {
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;
    border:10px solid #001163;
    border-radius: 0px;
    box-shadow: .6em .5em .5em rgb(163, 163, 163);
}




/***************min 700************************/

@media(max-width: 700px){


    .blue-header .text-box {
        width: 100%;
        height: 100%;
        color: #fff;
        position: relative;
        padding: 0px 0px;
        top: 80px;
        font-family: 'Jost', sans-serif;
        overflow: hidden;
        display: block;
        text-align: center;

    }

    .blue-header .text-box h1{
        white-space: nowrap;
        display: block;
        position: relative;
        left: 0px;
        font-size: 8vw;
    }

.blue-header .documentarea {
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:100px;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 100px;
}

.blue-header .documentarea h1 a{
    font-size: 11vw;
    text-align: center;
    margin-left: auto;
}

.blue-header .documentarea .Privacy{
    text-align: justify;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px;  
}

.blue-header .documentarea .Privacy h1{
   font-size: 12vw;
}

}