.header .article-container {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 1200px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: top;
    justify-content: center;
    margin: auto;
}

br {
    color:#141414;
}

.article {
    background-color: transparent;
    z-index: 1;
    width: 60%;
    height: 100%;
    position: relative;
    padding: 10px;
}

.article .article-lang{
width: 100%;
text-align: center;
}

.article p {
    font-family: 'Rasa';
    font-weight: 400;
    font-size: 24px;
}

.article .article-table tr td, .article .article-table tr th{
    font-family: 'Rasa';
    font-weight: 400;
    font-size: 24px;
}

.article .article-table tr td span{
    font-family: 'Rasa';
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
}

.article .article-table tr td strong, .article .article-table tr th strong, .article p strong {
    font-family: 'Rasa';
    font-weight: 700;
    font-size: 24px;
}


.article-title {
    width: 1000px;
    margin: auto;
}


.title-box {
    display: flex;
    min-width: 100%;
    height: max-content !important;
}

.article-title span{
    width: 20%;
    height: 150px !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: vertical;
}

.article-title img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-color:white;
    justify-content: center;
}

.article-title h2{
    font-size:4rem;
    font-weight: 700;
    font-family: 'Old Standard TT';
    overflow: hidden;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin: auto 0px;
    width: auto;
    letter-spacing: -4px;
    line-height: 4rem;
}

.article-title p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat';
    overflow: hidden;
    padding: 10px;
    text-align: left;

}

.article-table {
    width:70%;
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    font-size: 20px;
    margin: 0px auto;
}


.article-table th{
    width: 100vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    column-span: 1;
}

.article-table td{
    min-width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    column-span: 1;
}

/*------------------------article image settings*/
.article-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.article-image img, .article-image span{
    width: 100%;
}

.article-image span{
    font-family: 'Montserrat';
    background-color: gainsboro;
    padding: 10px;
    font-size: 12px;
}

/*---------------end of article image settings---------------*/

/*---------------------------SHARE ARTICLE------------------------------*/
.share-icon img{
    width: 40px;
    margin: 5px;
}

.share-box{
    width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.share-box button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    justify-content: center;
    align-items: center;
    width: 40px;
    overflow: visible;
}

.copyshare img{
    width:40px !important;
    padding: 5px;
    margin-left: -2px;
}

#popup-window {
    position: static;
    width: fit-content;
    height: fit-content;
    background: rgb(0, 0, 0);
    border: 0px solid rgb(8, 8, 8);
    margin: auto;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0%;
  }  

  #popup-window p{
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
    padding: 5px;
  }

/*---------------------------END OF FOLLOW US------------------------------*/


/*------------SIDEBAR CODES-------------------*/
.sidebar {
    background-color: rgb(228, 228, 228);
    z-index: 1;
    width: 30%;
    height: fit-content;
    position: relative;
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px;
    text-align:center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    float: right;
    display: flex;
    flex-direction: column;
}

.sidebar span{
    text-align:center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Montserrat';
    overflow: hidden;
    padding: 0px;
    text-align:center;
}

/*---------------WORD OF THE DAY--------------*/

.MuakuWD {
    display: flex;
    width:100%;
    max-width: 100%;
    top: 0px;
    position: relative;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.MuakuWD :hover {
    box-shadow: 0 0 0 rgb(121, 121, 121);
    transform: translateY(0px) !important;
}

.MuakuWD :hover::after {
    transform: translateY(0px);
}

.mwd {
    position: relative;
    top: 0px;
    text-align: center;
    min-width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 0px;
    border: 3px solid #001163;
    cursor: pointer;
    overflow: visible;
    background-color: white;
    align-items: center;
    justify-content: center;
    display:flex;
    margin: 20px auto;
}

.mwd .mwdtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    pointer-events: none;
    width: auto;
}
.mwd .mwdtitletx {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: -5px;
    pointer-events: none;
    width: auto;
}
.mwd .mwdate {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px 0px;
    pointer-events: none;
    width: auto;
}
.mwd .mwdbigword {
    font-family: 'Jost', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #090152;
    margin-top: 0px;
    line-height:1.5cap;
    overflow: hidden;
    pointer-events: none;
    margin-bottom: 20px;
    width: auto;
}
.mwd .mwdPhon {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    color: #000000;
    pointer-events: none;
    width: auto;
}
.mwd .mwdefinition {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:20px;
    pointer-events: none;
    line-height: 15px;
    width: auto;
    overflow: hidden;
}
/*-------------------END OF MWD SECTION---------------------------------*/

/*------------------------PAGE LINKS SECTION-----------------------*/
.sidebar .pageLinks {
    width: 100%;
    padding: 10px;
}

.sidebar .pageLinks h1 {
    font-family: 'Montserrat';
    padding: 10px;
    font-size: 1.2rem;
}

.sidebar .pageLinks ul li {
    font-family: 'Montserrat';
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.sidebar .pageLinks a {
    font-family: 'Montserrat';
    font-weight: 500;
    color: black;
}
/*-----------------------END OF PAGE LINKS SECTION-----------------*/

/*---------------------------FOLLOW US------------------------------*/
.pageLinks .followUs img{
    width: 40px;
    margin: 10px;
}



/*---------------------------END OF FOLLOW US------------------------------*/


/*---------------------END OF SIDEBAR-------------------*/
/*-------------------COMMMENT SECTION STYLING ----------------*/

.header .commentArea {
    text-align: justify;
    width: 90%;
    height: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: rgb(236, 236, 236);
    border-radius: 0px;  
    padding:20px;
    margin-top: 20px;
}

.header .commentArea h3{
    text-align: center;
    width: 100%;
    height:fit-content;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
    overflow: hidden;
}

#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website 
{
      background-color:rgb(255, 255, 255);
}

#HCB_comment_box #hcb_form #hcb_form_name_container
{
    width: 100%;
    padding: 0px;
}


#HCB_comment_box textarea {
    min-height:200px;
    display: block;
    border-radius: 10px !important;
}

#HCB_comment_box #hcb_form .home-desc {
    margin-top: 12px;
    display: none;
}

#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
    font-family: 'montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}


#HCB_comment_box #hcb_form #hcb_form_name {
    width: 96%;
}

#HCB_comment_box {
    font-family: 'montserrat', sans-serif !important;
    letter-spacing: 0.25;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#HCB_comment_box .author {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    text-transform: uppercase ;
}

#HCB_comment_box .submit {
    background:none; /* Clear twitter bootstrap style. */
    background-color:rgb(0, 132, 255) !important;
    color: rgb(255, 255, 255) !important;
  }

  #HCB_comment_box .hcb-comment-body {
    font-family: 'montserrat', sans-serif !important;
    font-size: 20px !important;
    margin: 8px 0 0 0;
    padding: 0;
}

#HCB_comment_box .comment {
    margin-bottom: 3em;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 10px !important;
    padding: 20px !important;
    font-family: 'Montserrat';
}

#HCB_comment_box .comment .likes {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px !important;
}

#HCB_comment_box #no_comments{
    text-align: left;
    font-weight: 700;
}

#HCB_comment_box #comments_list .author-name, #HCB_comment_box #comments_list .date, #HCB_comment_box .hcb-comment-tb button{
    font-family: 'Montserrat' !important;
    font-weight: 700;
}



/*-------------------END OF COMMENT SECTION--------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(255, 255, 255, 0.15);
}

/*----------------------------------------------------------------*/

@media(max-width: 700px){
    .header .documentarea{
        font-size: 32px;
        display:block;
        overflow-y: hidden;
        z-index: 1;
        top:-50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header .documentarea .blog{
        padding: 20px;
        align-items: center;
        width: 80%;
        display: block;
    }
    .header .documentarea .blog h1{
        font-size: 12vw;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .header .documentarea .blog p{
        font-size: 18px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    
    .blog-heading h1{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        border-radius: 90px;
        background-color:#001163;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        color: white !important;
    }

    .blog-front-page {
        background-color:  #001163;
        text-align: center;
        color: white;
        height: 500px;
        display: inline-flex;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: column;
    }

    .blog-front-page .front-page-title{
        height: fit-content;
        position: relative;
        width: 90%;
    }
    
    .blog-front-page .front-page-title h2{
        font-size: 3rem;
        font-weight: 900;
        font-family: 'Work Sans';
        line-height: 50px;
        overflow: hidden;
    }

    
.blog-front-page .topic-and-date {
    display: block;
    height: fit-content;
}

.blog-front-page .front-page-topic, .blog-front-page .front-page-date {
    overflow: hidden;
    margin: auto;
    padding: 0px;
    text-transform: uppercase;
}

.blog-front-page .front-page-date h3{
    overflow: hidden;
    margin: auto;
    padding: 0px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: .7rem;
}

    .blog-front-page .front-page-topic a, .blog-front-page .front-page-link a{
        font-size: 1rem;
        font-weight: 700;
        font-family:'Montserrat', sans-serif;
        color: white;
    }

    .blog-front-page .front-page-link {
        width: 60%;
    }
    
    .blog-front-page .front-page-link a{
        font-size: .7rem;
        font-weight: 700;
        font-family:'montserrat', sans-serif;
        color: white;
        text-transform: uppercase;
    }


    .article-title {
        min-width: 90% !important; 
        display: block;
        align-items: left;
        padding: 10px;
        max-width: 100%;
        padding-top: 10px;
    }

    .title-box {
        display: flex;
        width: 80%;
        height: max-content !important;
        align-items: center;
        flex-direction: column;
    }

    
    .title-box h2 {
        font-size: 300% !important;
        text-align: center;
        padding: 0px;
        line-height: 1em !important;
        word-wrap: break-word;
        width: 100%;

    }


    .article p{
        font-size: 18px;
    }


    .article-container{
        display: block !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        margin: auto;
        padding:0px;
    }


    
    .article {
        min-width: 100% ;
    }

    .sidebar {
        min-width: 100% ;
    }

    .article-title span{
        width: 100px !important;
        height: 100% !important;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: vertical !important;
        margin: 10px;
    }

    
    .article-title img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        background-color:white;
        justify-content: center;
    }

    .mwd .mwdbigword {
        font-family: 'Jost', sans-serif;
        font-size: 10vw !important;
        font-weight: 700;
        color: #090152;
        margin-top: 0px;
        line-height:1.5cap;
        overflow: hidden;
        pointer-events: none;
        margin-bottom: 20px;
        width: 100%;
    }

    .header .commentArea h3{
        text-align: center;
        width: 100%;
        height:fit-content;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        line-height:20px;
        overflow: hidden;
    }

    #HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
        font-family: 'montserrat', sans-serif !important;
        font-size: 11px !important;
        font-weight: 500 !important;
        padding: 8px;
        margin: 0;
        width: 100%;
    }

    #hcb_name {
        font-size: 12px;
    }

    .sidebar .pageLinks ul li {
        font-family: 'Montserrat';
        padding: 20px;
        text-align: center;
        font-size: 20px
    }

    
    .MuakuWD, .mwd {
        box-shadow: 0 0 0 rgb(121, 121, 121) !important;
    }

    .mwd {
        margin: 10px auto !important;
    }

    /*------------------------article image settings*/
.article-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.article-image img{
    width: 100%;
}

.article-image span{
    width: 100%;
    font-family: 'Montserrat';
    background-color: gainsboro;
    padding: 0px;
    font-size: 12px;
}

/*---------------end of article image settings---------------*/

.article-table {
    width: 100% !important;
    margin: 0px !important;
}

.article .article-table tr td, .article .article-table tr th{
    font-family: 'Rasa';
    font-weight: 400;
    font-size: 20px;
}

.article .article-table tr td span{
    font-family: 'Rasa';
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.article .article-table tr td strong, .article .article-table tr th strong, .article p strong  {
    font-family: 'Rasa';
    font-weight: 700;
    font-size: 20px;
}

#popup-window {
    display: none;
  }  


}


@media(max-width: 1000px){


    .article-title {
        width: 700px;
    }
    .article-container{
        max-width: 90%;
    }
    .article {
        width: 60%;
        height: 100%;
    }

    .article p{
        font-size: 18px;
    }


    .sidebar {
        scale: 1;
        width: 40%;
        max-width: 40%;
    }

    .MuakuWD {
        scale: 1;
        width: 100%;
        box-shadow: 0 0 0 rgb(121, 121, 121);
    }

    .mwd {
        min-width: fit-content;
        padding: 5px;
    }

    .commentArea{
        box-shadow: 0 0 0 rgb(163, 163, 163) !important;
    }

    .mwd .mwdbigword {
        font-family: 'Jost', sans-serif;
        font-size: 300%;
        font-weight: 700;
        color: #090152;
        margin-top: 0px;
        line-height:1.5cap;
        overflow: hidden;
        pointer-events: none;
        margin-bottom: 20px;
        width: 100%;
    }

    .article-title span{
        width: 20%;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: vertical;
    }
    
    .article-title img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        background-color:white;
        justify-content: center;
    }

    .article-title h2{
        font-size: 50px;
        line-height: 1em;
    }

    #HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
        font-family: 'montserrat', sans-serif !important;
        font-size: 18px !important;
        font-weight: 500 !important;
        padding: 8px;
        margin: 0;
        width: 100%;
    }

    
    
}